# For timezones in python
pytz

# For reading yaml files for configuration
PyYAML

# Connect to postgres
psycopg2-binary
SQLAlchemy

# For connecting to github to fetch issues
github3.py

# For development
ipython
