# ============================================================================ #
# For Development on Jiu-Gitsu
# 
# These requirements are only for developement work
# ============================================================================ #

# ---------------------------------------------------------------------------- #
# Code styles
# ---------------------------------------------------------------------------- #
pyflakes
pycodestyle
