## For better time handling in python
arrow

## Connect to postgres
psycopg2-binary
SQLAlchemy

## For task management and scheduling
prefect[viz]

## For looking for file changes and executing register flows command
watchdog[watchmedo]

## For development
ipython
